
.Header{
padding: 1rem 1rem;
position: relative;
}
.header-container{
    position: relative;
}
.header-img{
    height: 100vh;
    width: 100%;
    
}
.header-img img{
    height: 100%;
    width: 100%;
}
.header-content-container{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding: 6rem 0 0;
}

.header-content-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
}

.header-content-middle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
   
}
.header-left-img1{
    width: 177px;
    height: 195px;
    object-fit: cover;
}
.header-left-img2{
    width: 307px;
    height: 220px;
    object-fit: cover;
    margin: 1rem 0;
}
.header-left-img3{
    width: 280px;
    height: 250px;
    object-fit: cover;
}

.header-content-feelings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    padding: 0.4rem 0.65rem;
    cursor: pointer;
}
.header-content-feelings-left{
    color: white;
    width: 52px;
    height: 52px;
    background: linear-gradient(to top, #ff00b7, #ffe364);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 20px;
}
            
.header-content-feelings-middle{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 1rem;

   
}
.header-content-feelings-middle h5{
    margin-bottom: 0.25rem !important;
    font-weight: 600;
    font-size: 16px !important; 
    font-family: "Space Grotesk", sans-serif !important;
}
.header-content-feelings-middle p{
    font-size: 12px;
}

.header-content-feelings-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    margin-left: 4rem;
    color: white;
}
.header-content-feelings-right img{
    width: 100%;
}
.header-content-middle-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-content-middle-title h1{

    font-size: 150px;
    margin: 0;
    align-items: center;
    max-width: 450px;
    
}
.header-content-middle-bottom{
    margin-bottom: 2rem;
}

.circular-text {
    position: relative;
    width: 140px;
    height: 140px;
  }
  
  .circular-text svg {
    width: 100%;
    height: 100%;
    animation: rotateText 12s linear infinite;
  }
  
  .circular-text text {
    fill: white;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  .header-content-middle-bottom-arrow {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .header-content-middle-bottom-arrow img{
    width: 40px;
    height: 40px;
  }
  
  @keyframes rotateText {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .arrow-down {
    animation: arrow-down 1.5s ease-in-out infinite;
  }
  
  @keyframes arrow-down {
    0%,
    100% {
      transform: translateY(-3px);
    }
  
    50% {
      transform: translateY(12px);
    }
  }

.header-content-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-right: 1rem;
}
.header-right-img1{
    width: 210px;
    height: 229px;
    object-fit: cover;
}
.header-right-img2{
    width: 257px;
    height: 218px;
    object-fit: cover;
    margin: 1rem 0;
}
.header-right-img3{
    width: 226px;
    height: 215px;
    object-fit: cover;
}
.header-other-image{
    position: absolute;
    bottom: -1rem;
    right: 15.5rem;
}
.header-other-image img{
width: 300px;
}


/* Marquess */
.home-marquee{
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2) ;
    padding: 0.75rem 0 1.5rem;
}
.marquee-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.marquee-container img{
margin: 0 4rem;
}
.marquee-container p{
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 600;
}

/* About */
.web-body{
    padding: 3rem 6rem;
}
.about-container{
    text-align: center;
}
.about-container h1{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 1rem;
}
.about-container p{
    font-size: 16px;
    color: var(--text-color);
}
.about-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem;
    margin-top: 3rem;
   
}


/* discover */
.discover-container{
    margin-top: 4rem;

}

.discover-container h1{
    font-size: 52px;
    font-weight: 800;
    max-width: 900px;
}

/* cta */

.cta-card-container{
    background: linear-gradient(to bottom, #4A3AFF, #000000 );
    padding: 5rem;
    border-radius: 30px;
    margin-top: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cta-card-container h5{
    font-size: 32px;
    font-weight: 500;
    max-width: 700px;
    text-align: center;
 
}
.cta-card-container p{
    margin: 2rem 0;
    font-size: 16px;
    font-weight: 400;
    max-width: 450px;
    text-align: center;
}

.cta-card-button{
margin-top: 1rem;
}


/* home- title */
.home-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.home-title h1{
    font-size: 52px;
    font-weight: 800;
    max-width: 750px;
}
.home-title-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.home-title-container p{
    color: var(--text-color);
    font-size: 16px;
    max-width: 350px;
}
.home-title-button{
margin-top: 1rem;
}

.journal-img{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}
.journal-img-1{
    width: 370px;
    height: 280px;
    object-fit: cover;
}
.journal-img-2{
    width: 375px;
    height: 770px;
    object-fit: cover;
    margin: 0 2rem ;
}
.journal-img-3{
    height: 200px;
    width: 360px;
    object-fit: cover;

}

.home-admin-dashboard{
    margin-top: 4rem;
    width: 100%;
    height: 479px;
}

.home-admin-dashboard img{
    width: 100%;
    height: 479px;
}

.home-download{
    padding: 3rem 3rem 4rem;
    background-color: #ff00b7;
    border-radius: 30px;
    margin-top: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-download h1{
    font-size: 82px;
    font-weight: 700;
    max-width: 700px;
    text-align: center;
}
.home-download p{
    font-size: 27px;
    font-weight: 500;
    max-width: 700px;
    text-align: center;
    margin: 2rem 0;
}
.home-download-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px dotted rgba(255, 255, 255, 0.4);
    padding: 1rem;
    border-radius: 20px;

}
.home-download-container p{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
.home-download-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}
.home-download-logo img{
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-left: 0.5rem;
}

.home-review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.home-review p{
    color: var(--text-color);
    font-size: 16px;
    text-align: center;
}

.home-review h1{
    font-size: 46px;
    text-align: center;
}


.home-review-arrow-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.home-review-arrow-left{
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1) ;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}
.home-review-arrow-right{
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1) ;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
}

.home-review-arrow-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .home-review-arrow-left,
  .home-review-arrow-right {
    cursor: pointer;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1) ;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 0rem;
    transition: all 0.3s ease;
  }
  
  .home-review-arrow-left:hover,
  .home-review-arrow-right:hover {
    background: #4c47e9;
    transform: translateY(-3px);
  }


  /* modal */
  .modal-content{
    background-color: transparent !important;

  }
  .modal-container{
    background-color: black;
    padding: 0rem  ;
    border-radius: 30px;
  }
.modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 0 !important;
    margin-bottom: 1rem;
}
.modal-header-close{
    width: 42px;
    height: 42px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white !important;
    font-size: 19px;
}

.modal-header p{
    margin-right: 3rem !important;
}

.modal-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-content-container h3{
    font-size: 32px;
    text-align: center;
    max-width: 300px;
    font-weight: 400 !important;
    margin-bottom: 1.5rem !important; 
}
.modal-slider-img{
    margin-bottom: 1.5rem;
}
.modal-slider {
    background-color: rgba(255, 255, 255, 0.2);
    width: 275px;
    height: 30px;
    border-radius: 30px;
    margin: 1rem 0;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .modal-slider-progress {
    position: absolute;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: white;
    border-radius: 50%;
    cursor: grab;
    transition: transform 0.1s ease;
  }
  
  .modal-slider-progress:active {
    cursor: grabbing;
  }
.modal-content-container p{ 
    font-size: 14px;
    text-align: center;
    max-width: 300px;
    font-weight: 500;
}


.modal-content-container p{
    font-size: 14px;
    color: #8e8e93 !important;
    margin-bottom: 1rem !important;
    max-width: 200px;
    
}

.modal-content-button{
    cursor: pointer;
    width: 254px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #4c47e9 ;
    border-radius: 30px;
    margin-bottom: 2rem;
}

.modal-content-button p{
    margin-bottom: 0 !important;
    color: white !important;
}

.modal-feelings-container{
    width: 204px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b ;
    border-radius: 30px;
    margin-bottom: 1.5rem;
}

.modal-feelings-container p{
    font-size: 16px;
    color: white !important;
    margin-bottom: 0 !important;
}

.modal-barcode-img{
    margin-bottom: 1rem;
}



.modal-content-button-2{ 
    width: 230px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b ;
    border-radius: 30px;
    margin-bottom: 2rem;
    cursor: pointer;
}

.modal-content-button-2 p{
    font-size: 16px;
    margin-bottom: 0 !important;
}