.navbar{
    position:  absolute !important;
    z-index: 100 !important;
    width: 98.5% !important;
}
.navbar-container{
    padding: 1rem 3rem !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center;
    width: 100%!important;
}
.navbar-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.navbar-left p{
    margin-right: 1.5rem !important;
    font-size: 15px;
    font-weight: 400;
}

.navbar-logo{
    width: 43px;
    height: 33px;
    margin-left: 4rem;
}
.navbar-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navbar-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.navbar-right p{
    margin-right: 1.5rem !important;
    font-size: 15px;
    font-weight: 400;
}
.navbar-right-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0.8rem 1rem !important;
    border-radius: 30px;
}
.navbar-right-button p{
    color: black !important;
    margin-right: 0.75rem !important;
    font-size: 16px;
    font-weight: 500;
}
