
.footer-container{
    padding: 6rem 0 0;
}
.footer-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
 
}
.footer-top-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-top-left-content{
margin-right: 2rem;
}
.footer-top-left-content h3{
    color: var(--text-color) !important;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0.4rem !important;
}
.footer-top-left-content p{
    font-size: 15px;
    margin-bottom: 0.35rem !important;
    cursor: pointer;
}
.footer-top-left-content p:hover {
    color: var(--brand-color) !important;
    transition: all 0.5s ease;
}

.footer-top-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-top-right-image-middle{
    margin: 0 2rem;
}
.footer-top-right-image-left{
    width: 125px;
    height: 100px;
    object-fit: cover;
}
.footer-top-right-image-middle{
    width: 145px;
    height: 100px;
    object-fit: cover;
}
.footer-top-right-image-right{
    width: 85px;
    height: 100px;
    object-fit: cover;
}

.footer-bottom{
    margin-top: 4rem ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom img{
    width: 32px;
    height: 25px;
    object-fit: cover;
}
.footer-bottom p{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: var(--text-color) !important;
}
            
.footer-bottom-socials{
    font-size: 16px;
}
.footer-social{
    padding-left: 1rem;
    color: var(--text-color) !important;
}