@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Unbounded:wght@200..900&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #ffffff;
  --primary-color: #2d1437;
  --title-color: #e8c9a0;
  --brand-color: #EBFF00;
  --black-color: black;
  --text-color: #8E8E93;
--secondary-color: #fbfcfb;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  color: white !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Unbounded", sans-serif !important;
}

h2{
  color: white !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Unbounded", sans-serif !important;
}
h3{
  color: white !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Unbounded", sans-serif !important;
}
h4{
  color: white !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Unbounded", sans-serif !important;
}
h5{
  color: white !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Unbounded", sans-serif !important;
}


p{
  color: white !important;
  margin: 0 !important;
  font-family: "Space Grotesk", sans-serif !important;
}

